{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="details-card">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/nature" alt="">
                            <span><h4>heading</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3><b>Blockchain "¿Cuándo podré comprar Bitcoin y otras criptomonedas en mi banco?"</b></h3>
                            <p>¿Qué es el blockchain? Entre otras cosas, es una de las palabras de moda en<br>los últimos tiempos. La cadena de bloques es también un concepto que plantea<br>una enorme revolución no solo en nuestra economía, sino en todo tipo de ámbitos.</br>....</p>
                            <a href="https://www.xataka.com/especiales/que-es-blockchain-la-explicacion-definitiva-para-la-tecnologia-mas-de-moda" class="btn-card">Read More</a>   
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/animals" alt="">
                            <span><h4>heading2</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3><b>El Supremo de Estados Unidos se inclina por respetar las políticas de moderación de las redes sociales</b></h3>
                            <p>¿A qué se parecen más las redes sociales? ¿Son como un teléfono? ¿O son como un periódico?<br>La compañía telefónica no puede inmiscuirse en lo que dicen sus usuarios en una llamada.<br>En cambio, el editor de un periódico sí tiene poder sobre lo que se publica en sus páginas. Los dueños</br>....</p>
                            <a href="https://elpais.com/tecnologia/2024-02-27/el-supremo-de-ee-uu-se-inclina-por-respetar-las-politicas-de-moderacion-de-las-redes-sociales.html" class="btn-card">Read More</a>   
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/tech" alt="">
                            <span><h4>heading3</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3><b>Jeff Bezos, Nvidia, OpenAI y Microsoft se unen para desarrollar robots similares a los humanos</b></h3>
                            <p>Jeff Bezos, Nvidia y otros grandes nombres de la tecnología invierten en una empresa que desarrolla<br>robots similares a los humanos, según fuentes con conocimiento de la situación, como parte de una lucha por encontrar nuevas<br>aplicaciones para la inteligencia artificial.</br>....</p>
                            <a href="https://elpais.com/tecnologia/2024-02-27/el-supremo-de-ee-uu-se-inclina-por-respetar-las-politicas-de-moderacion-de-las-redes-sociales.html" class="btn-card">Read More</a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}